<%-include('./partials/header')%>
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/home.css">
<script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js" integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD" crossorigin="anonymous"></script>
<%-include('./partials/header2')%>

        <div class="main-container">

           
        <%-include('./partials/sidebar')%>
        <div class="main-container__content">
            <h1>Hello <%=user.firstName %> <%= user.lastName %>!!</h1>
            <div class="menu">

               

                <div class="menu-item">
                    
                    <i class="fas fa-comments"></i>
                    <h2>General Room</h2>
                    <a class="btn-link btn-center" class="btn" href="/rooms/general">Join</a>

                </div>
                
                <div class="menu-item">
                    
                    <i class="fas fa-users"></i>
                    <h2>All Rooms</h2>
                    <a class="btn-link btn-center" href="/rooms">view list</a>

                </div>
                
                <div class="menu-item">
                    
                    <i class="fas fa-user"></i>
                    <h2>My Rooms</h2>
                    <a class="btn-link btn-center" href="/<%-user._id%>/rooms">view list</a>

                </div>
                
                <div class="menu-item">
                    
                    <i class="fas fa-user-plus"></i>
                    <h2>Add a room</h2>
                    <a class="btn-link btn-center" href="/rooms/new">create</a>

                </div>
                
                <div class="menu-item">
                    
                    <i class="fas fa-user-cog"></i>
                    <h2>User Settings</h2>
                    <a class="btn-link btn-center" href="/users/<%- user._id %>">view settings</a>

                </div>
                

                

            </div>

            </div>

        </div>
            

           
            

    

<%-include('./partials/footer')%>