<%-include('./partials/header')%>
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/room.css">
<script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js" integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD" crossorigin="anonymous"></script>
<%-include('./partials/header2')%>


<div class="main-container">

    <%-include('./partials/sidebar')%>


    <div class="main-container__content">

        

    <div class="room-chat-container">

        <h1><%= room %></h1>
        <div class="message-screen">

            </div>
        
            <form id="user-room-info">
                <input type="hidden" id="room" value="<%-room%>">
                <input type="hidden" id="username" value="<%-user.userName%>">
            </form>
        
             <form id="calculator-form">
                <input type="text" name="userInput" required>
                <select name="userAction">
                    <option value="evaluate" selected>Evaluate</option>
                    <option value="message">Message</option>                    
                </select>
                <button class="chat-btn">Send</button>
             </form>
        
    </div>

   
    </div>

        
    <div class="user-in-room">
        <h1>Online</h1>
    </div>

    </div>  



        

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/socket.js"></script>

<%-include('./partials/footer')%>