<%-include('./partials/header')%>
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/profile.css">
<script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js" integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD" crossorigin="anonymous"></script>
<%-include('./partials/header2')%>

        <div class="main-container">

           
        <%-include('./partials/sidebar')%>
        <div class="main-container__content">
           
            
            <div class="profile-container"> 

                <h1>Profile</h1>
                <p class="error"></p>
                <form id="update-form">
                    <input type="hidden" name="id" value="<%- user._id%>" required>
                    <label for="firstName">First Name: </label> <input type="text" name="firstName" autocomplete="off" required placeholder="First Name"> 
                    <label for="lastName">Last Name </label> <input type="text" name="lastName" autocomplete="off" required placeholder="Last Name"> 
                    <label for="userName">Username: </label> <input type="text" name="userName" autocomplete="off" required placeholder="Username">  
                    <label for="password">Password </label> <input type="password" name="password" autocomplete="off" required placeholder="Password"> 
                    <label for="passwordConfirmation">password Confirmation </label> <input type="password" name="passwordConfirmation" autocomplete="off" required placeholder="Password Confirmation"> 
                    
                    <div>
                        <button class="btn btn-large">Update</button>
                        <a id="<%- user._id%>" class="btn-link delete-button"> delete account</a>
                    </div>
                   
                   
                </form>
               
            </div>
            </div>

        </div>
            

           
            

    <script src="/js/user.js"></script>
    <script src="/js/script.js"></script>

<%-include('./partials/footer')%>